@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

@font-face {
 font-family: "TI99Basic";
 src: url("fonts/TI99Basic.ttf");

}




body{
	margin: 0;
	background-color: #333333;
}

#page{
	width: 600px;
	height: 800px;
	background-color: #544f4f;
	border: solid gold 1px;
	border-radius: 7px;
}

header{
	height: 5%;
	display: flex;
	border: solid white 1px;
	border-radius: 7px;
}

h1{
	text-align: center;;
	margin: auto;
}

section{
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


#screen{
	width: 97%;
	height: 30%;
	margin: auto;

	color: #454C6D;

	font-size: 2em;

	display: flex;
	flex-direction: column;
	border: solid blue 1px;
	background-color: #606e5f;

}

#calculLine{
height: 20%;
line-height: 1.5em;

border: solid white 1px;

background-color: #606e5f;
color: #454C6D;
font-size: 1em;

outline: none;
resize: none;

}

#result{
	height: 80%;
	line-height: 1em;

	text-align: right;
	border: solid white 1px;
}



#keyboard{
	width: 99%;
	height: 65%;
	margin: auto;
	color: #d37e2e;
	border: solid blue 1px;
	cursor: pointer;
}

table{
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	height:100%;

}

td{
	width: 20%;
	height:20%;
	border: solid black 1px;
	text-align: center;
	font-size: 3em;


}

#equal{
	color: black;
	background-color: #5e5e5e;
}



/*-------------------------------------------------Responsive--------------------------------------------------------*/

@media all and (max-device-width: 480px) {



#page{
	width: 100%;
	height: 100vh;

}

header{
	height: 5%;

}

h1{

}

section{
	height: 95%;


}


#screen{
	width: 97%;
	height: 30%;

}

#calculLine{



}

#result{


}



#keyboard{
	width: 99%;
	height: 65%;

}

table{

	width: 100%;
	height:100%;

}

td{
	width: 20%;
	height:20%;

	font-size: 3em;


}

#equal{

}





	}